body {
    background-color: #FFF;
    font-family: "Galdeano", "Arial", "Sans-Serif";
    font-size: 14pt;
}

#header-container {
    background-color: #B1946C;
    padding: 50px 0;
    border-bottom: 10px solid #CA8;
}

#links {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: -2px;
    font-family: "Arial";
    list-style-type: none;
}

#links li {
   line-height: 2em;
}

#links li a {
   background-color: #600;
   padding: 10px;
   text-decoration: none;
   color: #FFF;
}

#header-container .component, #header-container .middle-component {
    width: 33%;
    float: left;
}

#header-container .middle-component {
    width: 34%;
}

h1#logo a {
    display: block;
    width: 409px;
    height: 409px;
    margin: 0 auto;
    background-image: url('/images/logo.png');
    text-indent: -9999px;
}

#container {
    width: 920px;
    margin: 0 auto;
}


#what-is-this-page {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: -2px;
    font-family: "Arial";
    list-style-type: none;
    text-align: right;
}

#what-is-this-page h2, #what-is-this-page h3 {
    display: inline;
    padding: 10px;
    line-height: 2em;
    background-color: #333;
}
