body {
    background-color: #FFF;
}

#header-container {
    background-color: #B1946C;
    padding: 50px 0;
    border-bottom: 10px solid #CA8;
}

#links {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 24pt;
    font-family: "arial narrow";
    letter-spacing: -1px;
    list-style-type: none;
}

#links li {
    display: inline;
    background-color: #900;
    padding: 10px;
    line-height: 2em;
}

#links li:hover {
    color: #FFF;
    cursor: pointer;
}

#header-container .component {
    width: 33%;
    float: left;
}

h1#logo a {
    display: block;
    width: 409px;
    height: 409px;
    margin: 0 auto;
    background-image: url('/images/logo.png');
    text-indent: -9999px;
}
