body {
    background-color: #FFF;
    font-family: "Average", "Arial", "sans-serif";
    font-size: 13pt;
    color: #111;
}

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #974;
    background-color: #B1946C;
}

* html #header-container {
    position: absolute;
}

#header {
    width: 910px;
    margin: 0 auto;
    position: relative;
}

#container {
    width: 910px;
    padding: 40px 0 0 0;
    margin: 0 auto;
    border-top: 0;
}

#logo a {
    float: left;
    text-indent: -9999px;
    display: block;
    width: 0px;
}

#links .first-level {
    font-size: 14pt;
    font-weight: bold;
    font-family: "Arial", "sans-serif";
    letter-spacing: -1px;
    margin-left: 10px;
    float: left;
    text-transform: uppercase;
    position: relative;
}

#links .first-level a {
    color: #FFF;
    text-decoration: none;
    padding: 8px 10px 0 10px;
    height: 31px;
    display: block;
}

#links .second-level {
    position: absolute;
    top: 39px;
    display: none;
    height: 200px;
    width: 300px;
    background-color: #B1946C;
}

#links .second-level a {
    display: block;
    float: none;
}

.section {
    border-radius: 10px 10px 10px 10px;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #EEF;
}